@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

body.light-mode {
    background-color: #f5f5f5;
    color: #000000;
}

body.dark-mode {
    background-color: #303030;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #424242;
}

.light-mode .navbar {
    background-color: #ffffff;
}

body.light-mode .MuiContainer-root {
    background-color: #ffffff;
}

body.dark-mode .MuiContainer-root {
    background-color: #424242;
}


/* Añade más estilos según sea necesario para dark y light mode */